<header class="navbar navbar-expand-lg fixed-top bg-white shadow-effect">
  <div
    class="container justify-content-center"
    [ngClass]="{ 'justify-content-between': userEmail }"
  >
    <a class="site-logo col-md-4 text-center">ART PROJECT</a>

    <div *ngIf="userEmail" class="justify-content-end">
      <a class="mr-3">{{ userEmail }}</a>
      <button
        class="btn btn-sm btn-info bg-secondary-theme text-theme-primary"
        (click)="onLogout()"
      >
        Logout
      </button>
    </div>
  </div>
</header>
