<div class="container">
  <div class="row">
    <div class="col-md-12 bg-secondary-theme p-5 shadow-effect">
      <h3 class="text-center text-theme-primary">
        {{ formStatus }} Categories
      </h3>
      <p class="text-center mb-5">
        You can {{ formStatus | lowercase }} new categories from here...
      </p>

      <form
        #categoryForm="ngForm"
        (ngSubmit)="
          formStatus === 'Add' ? onSubmit(categoryForm) : onUpdate(categoryForm)
        "
        class="form-inline text-center"
      >
        <div class="form-group col-md-10">
          <input
            type="text"
            placeholder="Add new category..."
            class="form-control shadow-effect"
            name="category"
            #newCategory="ngModel"
            [(ngModel)]="formCategory"
            required
            maxlength="30"
            [ngClass]="{
              'is-invalid': newCategory.touched && newCategory.invalid
            }"
          />
          <div
            class="alert alert-danger"
            *ngIf="newCategory.touched && newCategory.invalid"
          >
            Category field must be required
          </div>
        </div>

        <div class="col-md-2">
          <button
            [disabled]="categoryForm.invalid"
            class="btn btn-block btn-info mb-2 btn-theme"
          >
            {{ formStatus }} category
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="row mt-5 mb-5">
    <div class="col-md-3"></div>

    <h5 *ngIf="loading; else content" class="text-center w-100">Loading...</h5>
    <ng-template #content>
      <div
        *ngIf="categoryArray.length; else noData"
        class="text-center col-md-6"
      >
        <div class="card shadow-effect">
          <div class="card-body">
            <table class="table row-border hover">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Category</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let category of categoryArray; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ category.category }}</td>
                  <td class="td-buttons">
                    <button
                      class="btn btn-sm btn-warning w-100"
                      (click)="onEdit(category)"
                    >
                      Edit
                    </button>
                    <button
                      class="btn btn-sm btn-danger mt-2 w-100"
                      (click)="onDelete(category.id)"
                    >
                      Delete
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <ng-template #noData>
        <h5 class="text-center w-100">No data</h5>
      </ng-template>
    </ng-template>
    <div class="col-md-3"></div>
  </div>
</div>
