.app-body {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 259px);
}

@media (max-width: 768px) {
  .app-body {
    margin-top: 175px;
    min-height: calc(100vh - 284px);
  }
}

@media (max-width: 600px) {
  .app-body {
    margin-top: 35px;
  }
}

@media screen and (max-height: 440px) and (orientation: landscape) {
  .app-body {
    margin-top: 40px;
  }
}
